#logo {
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-default {
    font-family: 'Didact Gothic', sans-serif;

}

.navbar-brand {
    padding: 2px 5px;
    font-family: 'Didact Gothic', sans-serif;

}

.info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    color: white;
}

#county {
    border-top: 2px solid #14970b;
    border-bottom: 2px solid #14970b;
    padding: 10px;
    width: 15%;
    text-align: center;
    background: rgba(20, 151, 11, 0.5);
}

#lat {
    border-top: 2px solid #14970b;
    border-bottom: 2px solid #14970b;
    padding: 10px;
    width: 15%;
    text-align: center;
    background: rgba(20, 151, 11, 0.5);
}

#long {
    border-top: 2px solid #14970b;
    border-bottom: 2px solid #14970b;
    padding: 10px;
    width: 15%;
    text-align: center;
    background: rgba(20, 151, 11, 0.5);
}

#score {
    border-top: 2px solid #14970b;
    border-bottom: 2px solid #14970b;
    padding: 10px;
    width: 15%;
    text-align: center;
    background: rgba(20, 151, 11, 0.5);
}

#mapid {
    height: 635px;
    width: 100%;
    position: relative;
}



#nav-column {
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 50px;
    margin-left: 20px;
    z-index: 1000;
    position: absolute;
}

#button-column {
    z-index: 1000;
    padding: 30px;

}

#start {
    margin: 10px;
    width: 100px;
}

#guess {
    margin: 10px;
    width: 100px;

}

#quit {
    margin: 10px;
    width: 100px;

}

#panButtons {
    width: 200px;
    height: 200px;
    border: solid;
    left: 25px;
    position: relative;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    overflow: hidden;
    border-radius: 20%;
    color: #5f7fe9;
    background-color: #b9c6ef;
    opacity: 0.5;
    z-index: 1000;

}


#panButtons ul {
    list-style: none;
    padding: 0;
}


#panButtons ul li {
    position: absolute;
    width: 100px;
    height: 100px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 1.0;
}

#panButtons ul li:nth-child(1) {
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index:1;
}

#panButtons ul li:nth-child(2) {
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    z-index:1;
}

#panButtons ul li:nth-child(3) {
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index:1;
}

#panButtons ul li:nth-child(4) {
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index:1;
}

#panButtons ul li:nth-child(5) {
    height: 75px;
    width: 75px;
    top: 57px;
    left: 55px;
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    flex-direction: row;
    z-index: 2;
}

#panButtons ul li a {
    display: block;
    color: #000;
    text-align: center;
    font-size: 30px;
    /* line-height: 2.65; */
    text-decoration: none;
}

#panButtons ul li a:hover {
    color: red;

} 

a:active, a:focus, a:visited {
    outline: 0;
}

.glyphicon-map-marker {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-direction: row;
}
.hiddenError{
    display: none;
    color: red;
}
#start {
    z-index: 1000;
}

#endBanner {
    font-family: 'Didact Gothic', sans-serif;
    background-color: green;
    border-bottom: 1px double black;
    border-bottom: 1px double black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px
}

@media (max-width: 450px){
    #button-column{
        display:flex;
        flex-direction:column;
        opacity: .8;
        padding: 10px;
    }
    #long{
        padding: 10px 0px;
    }
    .info{
        font-size: 10px;
    }
    #nav-column{
        width: 100%;
        align-items: center;
    }
    #panButtons {
        margin-left: -90px;
    }
}
